* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: linear-gradient(90deg, #181836 0%, rgba(11,17,32,1) 100%);
}

.qr-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.qr {
    height: 60%;
    width: 60%;
}

